<!DOCTYPE html>
<html lang="en">


<head>
  <title>RecipeApp Recipes</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="shortcut icon" href="{% static 'recipes/images/favicon.png' %}">
  <!-- CSS CUSTOM -->
  <link rel='stylesheet' type='text/css' href="{% static 'recipes/css/styles.css' %}">
  <style type="text/css">
    body {
      background: url("{% static 'recipes/images/detail_background.avif' %}") no-repeat fixed;
      background-size: cover;
    }
  </style>
</head>

<body>
  <navbar class="nav-bar">
    <a style='border-radius:5px;font-size:x-large;padding:10px;margin:10px;' href="{%url 'logout' %}" class="">
      Logout
    </a>
    <a style='border-radius:5px;font-size:x-large;padding:10px;margin:10px;' href="{%url 'list' %}" class="home_btn">
      Recipe List
    </a>
    <div class="search_box">
      <form action="" method="GET" class="form">
        {% csrf_token %}
        <input style='font-size:x-large; margin-left:400px; margin-top:10px;' type="text" name="recipe_search"
          class="form_search_input" id="searchbar" placeholder="Search Recipes" onkeyup="search_recipe()" />
      </form>
      <br>
      <div class="search_results" autocomplete="off"
        style="margin-left:400px;position:fixed;background:white;display: none;">
        {% for object in object_list %}
        <p class="recipe_searched">
          <a class="recipe_name"
            style="font-size: 18px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"
            href="{{object.get_absolute_url}}"> {{object.name}} </a>
        </p>
        {% endfor %}
  </navbar>

  </div>
  <h1 style="">About this app</h1>
  <p style="font-size:large; font-weight:bold; text-align:center; display:inline-block; width:200px"> This Recipe APP is
    intended to
    show recipes
    for delicious snacks.
    This app is built
    using Django, hosted with
    Heroku.</p>

  <p>check out <a href="https://madison-cox.github.io/Portfolio/index.html">my portfolio</a>.</p>
</body>

</html>