<!DOCTYPE html>
<html lang="en">

<head>
  <title>RecipeApp Home</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="{'recipes/images/logo.jpg'}">
  <style type="text/css">
    h1 {
      font-size: 50px;
      font-family: 'Roboto Mono', 'Calibri', 'Trebuchet MS', sans-serif;
    }

    img {
      border-radius: 15px;
    }
  </style>
</head>

<body>
  <h1 style="display: flex; justify-content: center; margin-top: 150px;">My Recipe App</h1>
</body>

</html>